POSTGRES_DB=guacamole_db
POSTGRES_USER=guacamole_user
POSTGRES_PASSWORD=altere_senha_forte
GUACAMOLE_HOSTNAME=segportal.tjse.jus.br
GUACD_HOSTNAME=guacd
LDAP_HOSTNAME=ldap.tjse.jus.br
LDAP_PORT=636
LDAP_ENCRYPTION_METHOD=ssl
LDAP_USER_BASE_DN=OU=Usuarios,DC=tjse,DC=jus,DC=br
LDAP_USERNAME_ATTRIBUTE=sAMAccountName
LDAP_SEARCH_BIND_DN=CN=svc-segportal,OU=Servicos,DC=tjse,DC=jus,DC=br
LDAP_SEARCH_BIND_PASSWORD=altere_credencial
MFA_ENABLED=true
MFA_RADIUS_HOST=radius.tjse.jus.br
MFA_RADIUS_PORT=1812
MFA_RADIUS_SECRET=altere_shared_secret
EGRESS_PROXY_HOST=proxy-egress
EGRESS_PROXY_PORT=3128
SESSION_TIMEOUT_MINUTES=60
REGISTRY=registry.tjse.jus.br/segportal
IMAGE_TAG=latest
